<% layout("/layouts/boilerplate") %>

<style>
  .policy-box {
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
    color: #333;
  }
  h2{
        padding-bottom: 30px;
    }
</style>

<div class="policy-box">
  <h2 class="mt-4">Privacy Policy</h2>

  <p>
    StayWander is a web application created to apply and showcase
    full-stack web development skills.
  </p>

  <p>
    No real user data is intended to be used beyond demonstrating
    application functionality.
  </p>
</div>
