<% layout("/layouts/boilerplate") %>

<style>
    h2{
        padding-bottom: 30px;
    }
  .terms-box {
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
    color: #333;
  }
</style>

<div class="terms-box">
  <h2 class="mt-4">Terms & Conditions</h2>

  <p>
    StayWander is designed to demonstrate end-to-end full-stack
    development concepts and workflows.
  </p>

  <p>
    Listings, interactions, and features are provided
    to showcase system behavior and user experience.
  </p>
</div>
